* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    /* ~ 1rem */
}

:root {
    --pin_width: 15.625rem;
    --row_increment: 0.625rem;
    --pin_radius: 1rem;

    /* Factor de escala */
    --pin_small: 26;
    --pin_medium: 34;
    --pin_large: 46;
}

main {
    height: 100vh;
    width: 100%;
    background-color: cornflowerblue;
}

nav {
    height: 5rem;
    background-color: darkgray;
    display: flex;
}

.navbar-navegacion {
    min-width: 18rem;
    background-color: burlywood;
}

.navbar-busqueda {
    flex-grow: 4;
    min-width: 3rem;
    background-color: darkolivegreen;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.navbar-perfil {
    min-width: 12rem;
    background-color: coral;
}

.pin_contenedor {
    background-color: chocolate;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--pin_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
}

.pin {
    position: relative;
    margin: 1rem 0.8rem;
    border-radius: var(--pin_radius);
    background-color: cadetblue;
}

/* imagen */
.pin_contenido {
    height: 100%;
    width: 100%;
    background-color: chartreuse;
    border-radius: var(--pin_radius);
    text-align: center;
}

/* botones en el hover (al pasar el raton encima) */
.pin_botones {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: var(--pin_radius);
    position: absolute;
    top: 0;
    left: 0;
    /* Totalmente invisible */
    opacity: 0;
    color: white;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.pin_botones:hover {
    /* Totalmente visible */
    opacity: 0.3;
}

.pin_pequenio {
    grid-row-end: span var(--pin_small);
}

.pin_mediano {
    grid-row-end: span var(--pin_medium);
}

.pin_grande {
    grid-row-end: span var(--pin_large);
}


/* Estilos para el input personalizado */

.navbar_input_search {
    margin-inline: 0.8rem;
    padding-inline-start: 0.8rem;
    height: 3rem;
    width: 100%;
    background-color: #e9e9e9;
    border-radius: 1.5rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.navbar_input_search>svg {
    height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar_input_search>input {
    height: 2rem;
    flex-grow: 3;
    margin-inline-end: 1rem;
    margin-inline-start: 0.8rem;
    background-color: transparent;
    border-style: none;
}

.navbar_input_search>input:focus-visible {
    outline: none;
}

@media screen and (max-width: 720px) {
    .pin_contenedor {
        background-color: green;
    }

    .pin{
        background-color: orange;
    }
}